@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: black;
    color: white;
  }
  #__next {
    display: grid;
    min-height: 100vh;
    grid-template-rows: min-content 1fr min-content;
  }
}

@layer utilities {
}
